/* body {
    
background-color: #fADE8B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bar-chart {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.bar {
    width: 30px;
    background-color: #594C94;
}

.bar-1 { height: 50px; }
.bar-2 { height: 100px; }
.bar-3 { height: 200px; }
.bar-4 { height: 150px; }
.bar-5 { height: 100px; }
.bar-6 { height: 50px; }
